.date-picker {
  max-width: 300px;
  // background-color: $color-off-white;
  border-radius: 2px;
  // @include inner-shadow;
  padding: 1rem;
  border: 1px solid $color-grey-light-2;

  &__control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid $color-primary;
    padding-bottom: 1rem;

    &-header {
      color: $color-primary;
    }

    &-button {
      @include button-reset;
      height: 4rem;
      width: 4rem;
      background-color: $color-primary;
      padding: 1rem 2rem;
      border-radius: 50px;
      
      & span {
        color: $color-white;
        font-weight: 700;
        font-size: 2rem;
        
      }

      &:hover {
        border: 1px solid $color-primary;
      }
    }

  }

  & .weekdayHeader {

    width: 100%;

    & tr {
      display: flex;
      justify-content: space-between;
    }

    &__label {
      position: relative;
      color: $color-off-black;
      flex-basis: calc(100% / 7);
      text-align: center;
      padding: 1rem 0;

      &-content {

      }
    }
  }

  & .calendar {
    display: flex;
    flex-wrap: wrap;

    &__date-cell {
      flex-basis: calc(100% / 7);
      flex-shrink: 0;
    }
  }

  &__body {

    width: 100%;

    &-row {
      width: 100%;
      display: flex;
      
    }

    &-cell {
      flex-basis: calc(100% / 7);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 4rem;
      height: 4rem;
      cursor: pointer;

      &:not(.current-month) {
        color: $color-grey-light-2;
      }

      &-button {
        @include button-reset;
        height: 40px;
        width: 40px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;


        &:hover {
          color: $color-off-black;
          border: 2px solid $color-primary;
          background-color: transparent;
        }

        &--selected,
        &:focus {
          background-color: $color-primary;
          color: $color-white;
          outline: none;
        }

        & span {
          text-align: center;
        }
      }
    }
  }
}