.event-form {
    background-color: $color-white;
    padding: 2rem;
    box-shadow: 0 .5rem 1rem rgba($color-black, 0.1);
    border-radius: 2px;

    &__label {
        display: block;
        margin-bottom: 3px;
    }

    &__input {
        margin-bottom: 1rem;
    }
}