.event-form {

    max-width: 80rem;
    width: 80vw;
    min-width: 40rem;

    &__label {
        display: block;
        margin-bottom: 3px;
    }

    &__input {
        margin-bottom: 1rem;
    }

    & .terms-conditions {
        max-height: 300px;
        overflow-y: scroll;
        white-space: pre-wrap;
        background-color: $color-grey-light-1;
        padding: 1rem;
        margin-bottom: 1rem;
    }
}