.event-form {

  & .terms-conditions {
    max-height: 300px;
    overflow-y: scroll;
    white-space: pre-wrap;
    background-color: $color-grey-light-1;
    padding: 1rem;
    margin-bottom: 1rem;

  }
}