.header {
  background-color: $color-primary;
  color: $color-white;
  padding: 1.5rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__nav {
    list-style: none;
    display: flex;
  }
}
