.users-list {

  &__tile {
    @include card

  }

  &__tile-list {
    list-style: none;
    display: flex;
  }

  &__tile-info {
    display: inline-block;
    text-align: center;
    flex-grow: 1;

    // &:not(:last-child) {
    //   margin-right: $space-medium;
    // }

    &--name {
      font-style: italic;
    }
  }

  &__status-chip {
    display: inline-block;
    background-color: $color-black;
    width: 1.3rem;
    height: 1.3rem;
    margin-right: $space-medium;
    border-radius: 50%;
    transition: background-color 0.4s;

    &--pending {
      background-color: orange;
    }

    &--approved {
      background-color: green;
    }

    &--suspended {
      background-color: orange;
    }

    &--deleted {
      background-color: orangered;
    }
  }

  &__header-list {
    list-style: none;
    display: flex;
    padding: 1rem;

    &-item {
      flex-grow: 1;
      text-align: center;

      &--status-chip {
        flex-grow: .5;
      }
    }
  }
}
