body {
  background-color: $color-background;
  color: $color-off-black;

  &.noScroll {
    overflow: hidden;
  }
}

.admin-body {
  display: flex;
  align-items: stretch;

  main {
    flex-grow: 1;
  }
}

.flex-section-row {
  display: flex;
  padding: 3rem;
}

.debug {
  padding: 1rem;
  line-height: 2rem;
  background-color: orangered;
  color: $color-white;
  white-space: pre;
}
