body {
  background-color: $color-background;
  color: $color-off-black;

  &.noScroll {
    overflow: hidden;
  }
}

.admin-body {
  display: flex;
  align-items: stretch;

  main {
    flex-grow: 1;
  }
}

.flex-section-row {
  display: flex;
  padding: 3rem;
}
