@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin card {
  background-color: $color-white;
  padding: $space-medium;
  border-radius: 2px;
  box-shadow: 0 .5rem 1rem rgba($color-black, 0.1);

  &:not(:last-child) {
    margin-bottom: $space-small;
  }
}

@mixin actionCard {
  
  transition: box-shadow 0.2s, transform 0.2s;
  backface-visibility: hidden;

  &:hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 0 1rem 1rem rgba($color-black, 0.1);
  }
}

@mixin centered {
  transform: translate(50%, 50%);
  top: -50%;
  left: -50%;
}

@mixin button-reset {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

@mixin button-hover-reset {
  background-color: transparent;
}

@mixin inner-shadow {
  box-shadow: inset 0 0 6px rgba($color-black, 0.2);
}
