@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin card {
  background-color: $color-white;
  padding: $space-medium;
  border-radius: 2px;
  box-shadow: 0 .5rem 1rem rgba($color-black, 0.1);
  transition: box-shadow 0.2s, transform 0.2s;
  backface-visibility: hidden;

  &:not(:last-child) {
    margin-bottom: $space-small;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 0 1rem 1rem rgba($color-black, 0.1);
  }
}
<<<<<<< HEAD

@mixin centered {
  transform: translate(50%, 50%);
  top: -50%;
  left: -50%;
}
=======
>>>>>>> af947747d0c74314b6292d20c0f5282a228dd253
