.text-center {
  text-align: center;
}

.mb-sm {
  margin-bottom: 1em;
}
<<<<<<< HEAD

.mt-sm {
  margin-top: 1em;
}

.card {
  @include card;
}
=======
>>>>>>> af947747d0c74314b6292d20c0f5282a228dd253
