$color-white: #fff;
$color-black: #000;
$color-off-black: #424242;

$color-grey-light-1: #eee;
$color-grey-light-2: #ddd;

$color-background: #ECEFF1;

$color-primary: #00BCD4;
$color-primary-dark: darken($color-primary, 10%);

$space-small: 1rem;
$space-medium: 2rem;

$color-success: green;
$color-warning: orangered;
$color-error: red;
$color-info: blue;
