@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem; }

body {
  font-size: 1.6rem;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 400; }

p {
  line-height: 2rem; }

p:not(:last-child) {
  margin-bottom: 2rem; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 3rem;
  margin-bottom: 1rem; }

h3 {
  font-size: 2rem;
  margin-bottom: 1rem; }

.section-title {
  margin-bottom: 2rem; }

.text-center {
  text-align: center; }

.mb-sm {
  margin-bottom: 1em; }

.mt-sm {
  margin-top: 1em; }

.card {
  background-color: #fff;
  padding: 2rem;
  border-radius: 2px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); }
  .card:not(:last-child) {
    margin-bottom: 1rem; }

.row {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em 2em; }
  .row:not(:last-child) {
    margin-bottom: 1em; }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^="col-"] {
    display: inline-block;
    padding: 1em;
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 1em; }
  .row .col-1-of-2 {
    width: calc((100% - 1em) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 1em) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 1em) / 3) + 1em); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 1em) / 4); }
  .row .col-2-of-4 {
    width: calc((100% - 1em) / 2); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 1em) / 4) + 2 * 1em); }
  .row .offset-1 {
    margin-left: calc(100% / 12); }
  .row .offset-2 {
    margin-left: calc(2 * (100% / 12)); }
  .row .offset-3 {
    margin-left: calc(3 * (100% / 12)); }
  .row .offset-4 {
    margin-left: calc(100% / 12); }
  .row .offset-5 {
    margin-left: calc(2 * (100% / 12)); }
  .row .offset-6 {
    margin-left: calc(3 * (100% / 12)); }

body {
  background-color: #ECEFF1;
  color: #424242; }
  body.noScroll {
    overflow: hidden; }

.admin-body {
  display: flex;
  align-items: stretch; }
  .admin-body main {
    flex-grow: 1; }

.flex-section-row {
  display: flex;
  padding: 3rem; }

.form {
  max-width: 80rem;
  width: 80vw;
  min-width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .form input, .form textarea {
    padding: 1rem;
    display: block;
    border: #ddd 1px solid;
    width: 100%; }
    .form input[type='radio'], .form textarea[type='radio'] {
      width: auto; }
    .form input[type='checkbox'], .form textarea[type='checkbox'] {
      width: auto; }
  .form__fieldset {
    display: flex;
    justify-content: space-around;
    border: none; }
    .form__fieldset:not(:last-child) {
      margin-bottom: 1rem; }
    .form__fieldset .radio-group input, .form__fieldset .checkbox-group input {
      display: inline-block; }
      .form__fieldset .radio-group input:not(:first-child), .form__fieldset .checkbox-group input:not(:first-child) {
        margin-left: 2rem; }
    .form__fieldset .radio-group p, .form__fieldset .checkbox-group p {
      display: inline-block;
      margin: 0 0 0 3px; }
    .form__fieldset-label {
      display: block;
      margin-bottom: 3px;
      font-weight: 700; }
    .form__fieldset-input {
      margin-bottom: 1rem; }
  .form .form-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 1rem; }
    .form .form-section:not(:last-child) {
      margin-bottom: 3rem; }
    .form .form-section__heading {
      background-color: #00BCD4;
      color: #fff;
      padding: 1rem 2rem;
      width: auto;
      margin-bottom: 2rem;
      align-self: flex-start;
      width: 100%; }
    .form .form-section__group {
      display: flex;
      width: 100%; }
      .form .form-section__group > * {
        flex-grow: 1; }
      .form .form-section__group--row {
        flex-direction: row;
        justify-content: space-around; }
        .form .form-section__group--row:not(:last-child) {
          margin-bottom: 2rem; }
        .form .form-section__group--row * > * {
          flex-basis: 1 1 auto; }
        .form .form-section__group--row > *:not(:last-child) {
          margin-right: 2rem; }
      .form .form-section__group--column {
        flex-direction: column; }

.header {
  background-color: #00BCD4;
  color: #fff;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header__nav {
    list-style: none; }
    .header__nav-item {
      display: inline-block; }
      .header__nav-item:not(:last-child) {
        margin-right: 1em; }
      .header__nav-item:hover, .header__nav-item:active {
        cursor: pointer;
        font-weight: bold; }

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #424242;
  min-height: 100vh; }
  .sidebar__toggle {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    align-self: flex-end;
    color: #fff;
    padding: 2rem; }
    .sidebar__toggle:hover {
      background-color: transparent; }
  .sidebar .admin-menu {
    color: #fff;
    list-style-type: none; }
    .sidebar .admin-menu__item {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      color: inherit;
      border-bottom: solid 2px #383838; }
      .sidebar .admin-menu__item:first-child {
        border-top: solid 2px #383838; }
      .sidebar .admin-menu__item .indicator {
        align-self: flex-end;
        background-color: #fff;
        width: 6px;
        height: 0px;
        transition: height 0.1s ease-in-out; }
      .sidebar .admin-menu__item a {
        display: block;
        padding: 1.5rem 3rem;
        color: inherit;
        text-decoration: none;
        background-color: transparent; }
        .sidebar .admin-menu__item a:hover ~ .indicator {
          height: 48px; }
        .sidebar .admin-menu__item a.nuxt-link-exact-active + .indicator {
          height: 48px; }

.login-form__input-group {
  display: block; }
  .login-form__input-group:not(:last-child) {
    margin-bottom: 2rem; }

.login-form__input {
  width: 60%;
  margin: 0 auto;
  padding: 1rem;
  border: none;
  border-bottom: 1px solid #00BCD4; }
  .login-form__input:focus {
    outline: none;
    border-color: #008fa1; }

.login-form__label {
  font-size: 1.4rem; }

.login-form__button {
  display: block;
  margin: 0 auto;
  padding: .5rem 1rem;
  border: none;
  background-color: #00BCD4;
  color: #fff;
  border-radius: 2px;
  font-size: 1.6rem;
  transition: all .2s; }
  .login-form__button:hover {
    cursor: pointer;
    background-color: #008fa1; }

.users-list__tile {
  background-color: #fff;
  padding: 2rem;
  border-radius: 2px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); }
  .users-list__tile:not(:last-child) {
    margin-bottom: 1rem; }

.users-list__tile-list {
  list-style: none;
  display: flex; }

.users-list__tile-info {
  display: inline-block;
  text-align: center;
  flex-grow: 1; }
  .users-list__tile-info--name {
    font-style: italic; }

.users-list__status-chip {
  display: inline-block;
  background-color: #000;
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 2rem;
  border-radius: 50%;
  transition: background-color 0.4s; }
  .users-list__status-chip--pending {
    background-color: orange; }
  .users-list__status-chip--approved {
    background-color: green; }
  .users-list__status-chip--suspended {
    background-color: orange; }
  .users-list__status-chip--deleted {
    background-color: orangered; }

.users-list__header-list {
  list-style: none;
  display: flex;
  padding: 1rem; }
  .users-list__header-list-item {
    flex-grow: 1;
    text-align: center; }
    .users-list__header-list-item--status-chip {
      flex-grow: .5; }

button {
  padding: 1.5rem 3rem;
  border: none;
  border-radius: 2px;
  margin: 1rem;
  background-color: #eee; }
  button:hover {
    cursor: pointer;
    background-color: #ddd; }
  button:disabled, button[disabled] {
    background-color: red; }

.event-form .terms-conditions {
  max-height: 300px;
  overflow-y: scroll;
  white-space: pre-wrap;
  background-color: #eee;
  padding: 1rem;
  margin-bottom: 1rem; }

.event-list {
  list-style: none; }
  .event-list__item {
    background-color: #fff;
    padding: 2rem;
    border-radius: 2px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); }
    .event-list__item:not(:last-child) {
      margin-bottom: 1rem; }
  .event-list__item-title {
    font-size: 2rem;
    font-weight: bold;
    color: #00BCD4; }
  .event-list__item-date {
    font-size: 1rem;
    font-style: italic; }

.image-upload {
  border: solid 1px #ddd;
  text-align: center;
  padding: 3rem; }
  .image-upload img {
    max-width: 100%; }

.new-user-card {
  background-color: #fff;
  padding: 2rem;
  border-radius: 2px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  max-width: 600px; }
  .new-user-card:not(:last-child) {
    margin-bottom: 1rem; }

.global-toast {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left: 1.6rem;
  margin-bottom: 1.6rem;
  display: flex;
  width: calc(100vw - 3.2rem);
  background-color: #fff;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); }
  .global-toast__status {
    width: .8rem;
    background-color: black;
    align-self: stretch; }
  .global-toast__message {
    padding: 1rem; }
  .global-toast.success .global-toast__status {
    background-color: green; }
  .global-toast.warning .global-toast__status {
    background-color: orangered; }
  .global-toast.error .global-toast__status {
    background-color: red; }
  .global-toast.info .global-toast__status {
    background-color: blue; }

.upcoming-events {
  flex-basis: 65%;
  margin-right: 3rem;
  display: flex;
  flex-direction: column; }
  .upcoming-events__month-switcher {
    display: flex;
    margin-bottom: 2rem;
    align-items: center; }
    .upcoming-events__month-switcher .prev, .upcoming-events__month-switcher .next {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #00BCD4;
      margin: 0;
      border-radius: 50px;
      padding: 0;
      height: 4rem;
      width: 4rem; }
      .upcoming-events__month-switcher .prev span, .upcoming-events__month-switcher .next span {
        font-size: 3rem;
        color: #fff; }
    .upcoming-events__month-switcher .month {
      margin: 0 2rem; }
    .upcoming-events__month-switcher span {
      font-size: 2rem;
      font-weight: 700; }

.booking-pitch {
  background-color: #fff;
  padding: 2rem;
  border-radius: 2px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start; }
  .booking-pitch:not(:last-child) {
    margin-bottom: 1rem; }
  .booking-pitch__title {
    text-align: center; }
  .booking-pitch__button {
    margin: 0;
    background-color: #00BCD4;
    color: #fff;
    border-radius: 100px;
    font-size: 1.5rem;
    font-weight: 700; }

.public-event-card {
  background-color: #fff;
  padding: 2rem;
  border-radius: 2px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s, transform 0.2s;
  backface-visibility: hidden;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem !important;
  background-color: #fff;
  border-radius: 2px;
  overflow: hidden; }
  .public-event-card:not(:last-child) {
    margin-bottom: 1rem; }
  .public-event-card:hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1); }
  .public-event-card__header {
    display: flex; }
    .public-event-card__header img {
      max-width: 200px;
      align-self: center;
      border-radius: 0 0 2px 0; }
    .public-event-card__header-title {
      padding: 0 2rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 100%; }
      .public-event-card__header-title h3 {
        font-size: 3rem;
        color: #00BCD4; }
      .public-event-card__header-title p {
        margin-bottom: 0; }
      .public-event-card__header-title hr {
        background-color: #00BCD4;
        height: 2px;
        border: none;
        margin-top: 1rem; }
  .public-event-card__description {
    display: flex;
    flex-direction: column;
    padding: 2rem; }
    .public-event-card__description .public-event-card__read-more-link {
      align-self: flex-end;
      color: #00BCD4;
      text-decoration: none;
      font-weight: 700;
      padding: 1rem 1.5rem;
      border-radius: 20px;
      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out; }
  .public-event-card:hover .public-event-card__read-more-link {
    background-color: #00BCD4;
    color: #fff; }

.booking-dialog {
  background-color: #fff;
  padding: 2rem;
  border-radius: 2px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw; }
  .booking-dialog:not(:last-child) {
    margin-bottom: 1rem; }

.overlay-dialog {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  display: flex;
  justify-content: center; }
  .overlay-dialog-card {
    background-color: #fff;
    padding: 2rem;
    border-radius: 2px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 6rem 0; }
    .overlay-dialog-card:not(:last-child) {
      margin-bottom: 1rem; }
    .overlay-dialog-card-header {
      display: flex;
      justify-content: space-between;
      padding-bottom: 2rem;
      margin-bottom: 2rem;
      border-bottom: 2px #00BCD4 solid; }
      .overlay-dialog-card-header__title {
        align-self: flex-end;
        margin: 0; }
      .overlay-dialog-card-header__close {
        margin: 0;
        align-self: flex-end; }

.date-picker {
  max-width: 300px;
  border-radius: 2px;
  padding: 1rem;
  border: 1px solid #ddd; }
  .date-picker__control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #00BCD4;
    padding-bottom: 1rem; }
    .date-picker__control-header {
      color: #00BCD4; }
    .date-picker__control-button {
      border: none;
      background-color: transparent;
      padding: 0;
      margin: 0;
      height: 4rem;
      width: 4rem;
      background-color: #00BCD4;
      padding: 1rem 2rem;
      border-radius: 50px; }
      .date-picker__control-button span {
        color: #fff;
        font-weight: 700;
        font-size: 2rem; }
      .date-picker__control-button:hover {
        border: 1px solid #00BCD4; }
  .date-picker .weekdayHeader {
    width: 100%; }
    .date-picker .weekdayHeader tr {
      display: flex;
      justify-content: space-between; }
    .date-picker .weekdayHeader__label {
      position: relative;
      color: #424242;
      flex-basis: calc(100% / 7);
      text-align: center;
      padding: 1rem 0; }
  .date-picker .calendar {
    display: flex;
    flex-wrap: wrap; }
    .date-picker .calendar__date-cell {
      flex-basis: calc(100% / 7);
      flex-shrink: 0; }
  .date-picker__body {
    width: 100%; }
    .date-picker__body-row {
      width: 100%;
      display: flex; }
    .date-picker__body-cell {
      flex-basis: calc(100% / 7);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 4rem;
      height: 4rem;
      cursor: pointer; }
      .date-picker__body-cell:not(.current-month) {
        color: #ddd; }
      .date-picker__body-cell-button {
        border: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        height: 40px;
        width: 40px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center; }
        .date-picker__body-cell-button:hover {
          color: #424242;
          border: 2px solid #00BCD4;
          background-color: transparent; }
        .date-picker__body-cell-button--selected, .date-picker__body-cell-button:focus {
          background-color: #00BCD4;
          color: #fff;
          outline: none; }
        .date-picker__body-cell-button span {
          text-align: center; }

.time-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px; }
  .time-picker .divider {
    margin: 0 1rem; }
  .time-picker__panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch; }
  .time-picker__panel-display {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
    background-color: #eee;
    padding: 1rem 0;
    border-radius: 2px;
    min-width: 6rem; }
  .time-picker button {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    background-color: #00BCD4;
    color: #fff;
    padding: 1rem; }
